# Python
__pycache__/
*.pyc

# Node
node_modules/
.next/

# Environment
.env

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
*.tfplan

# Environment
.env
.env.local

